* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Courier New", Courier, monospace;
   background-color: rgb(73, 71, 71);
   margin: 10px;
}
img {
   box-shadow: 6px 6px 10px rgb(99, 90, 73);
   border-radius: 10px;
   border: 2px solid black;
   max-width: 50%;
   margin-bottom: 10px;
}
.muscleCar {
   margin: 15px;
}
.nameCar {
   color: #f0ce11;
   font-weight: 600;
   font-size: 22px;
   font-weight: 300;
   margin: 0px 0px 5px 0px;
}
.nameCar:hover {
   background: rgb(51, 49, 49);
}
a {
   font-size: 20px;
   color: #f07d11;
}
a:hover {
   color: #f83606;
}
ul {
   list-style-type: square;
   margin-left: 20px;
   font-size: 25px;
   line-height: 30px;
}
